@import url("https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {

  margin: 0;
  padding: 0;
}
.c-white {
  color: white;
}

.navbar-custom {
  display: flex;
  background: #F72210;
  justify-content: space-between;
  height:18vh;
}

.login-subscribe {
  display:flex;
  align-items: flex-end;
  width:20vw;
  justify-content: space-between;
  margin-top:20px;
}
.login {
  font-size: 18px;
  font-weight: 700;
  background-color: red;
  color: whitesmoke;
  border:0;
}

.sub {
  background-color:#E6CE00;
  color: black;
  font-weight: 700;
  border-radius: 4em;
  border: 0;
  padding: 2px;
  width: 10vw;
}

.secnav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
  font-weight: 700;
  color: #000;
  border-left: 1px solid black;
}

.main {
  margin-top:0% ;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}