@import url("https://tools-static.wmflabs.org/fontcdn/css?family=Merriweather");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  padding: 0;
}

.bs-example{
  margin: 20px;
}

.c-white {
  color: white;
}

.c-black {
  color: black;
}

.navbar-custom {
  display: flex;
  background: #f72210;
  justify-content: space-between;
  height: 17vh;
}

.login-subscribe {
  margin-top: 20px;
  border:1px solid white;
}

.login {
  font-size: 18px;
  font-weight: 700;
  background-color: red;
  color: whitesmoke;
  border: 0;
}

.sub-nav {
  padding-top: 17vh;
}
.sub {
  background-color: #e6ce00;
  color: black;
  font-weight: 700;
  border-radius: 4em;
  border: 0;
  

}

.navbar-sub {
  height: 6.8vh;
}

.navbar-ul {
  border-style: none;
  height: 2.5em;
  align-items: center;
  border-bottom: 0.5px solid gray;
  width: 100%;
  justify-content: space-evenly;
}

.nav-link-a:hover {
  color: red;
}

.secnav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #000;
  border-right: 0.5px solid black;
  padding: 0.5px;
  line-height: 0.5em;
}

.search-nav {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #000;
}

.search-logo {
  margin-left: 8px;
}

.navbar-third {
  padding-left: 3.5%;
  border-bottom: 0.5px solid gray;
}

.nav-item {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 900;
}

.top-stories {
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.tag {
  position: relative;
}

.text-us {
  position: absolute;
  background-color: #f2e8e9;
  color: red;
  width: 3vw;
  text-align: center;
  font-weight: 700;
  border: 1px solid black;
  left: 0;
  bottom: 0;
}

.vs {
  color: white;
  background-color: black;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  text-align: center;
  line-height: 30px;
  font-weight: 900;
  margin-top: -8%;
  padding-bottom: 5%;
}

.top-heading {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: grey;
}

.img-story1 {
  width: 100%;
}

.capt {
  font-size: 19px;
  font-weight: 800;
  cursor: pointer;
}

.capt:hover {
  text-decoration-color: red;
  text-decoration-line: underline;
}

.container-grid-main {
  border: 1px solid blue;
  width: 97%;
  margin: auto;
  -ms-grid-row-align: 20px;
}

.top-stories {
  border: 1px solid green;
  width: auto;
}

.featured {
  display: flex;
  flex-direction: column;
  border: 1px solid violet;
}

/* 
.first {
  position: relative;
} */

.img-topmid {
  width: 100%;
}

.politics {
  color: red;
  font-weight: 700;
  position: absolute;
  margin-top: 21.6em;
  height: 5vh;
  text-align: center;
  background-color: #f2e8e9;
  width: 6vw;
}

.myturn-row {
  width: 10vw;
  height: auto;
  border: 1px solid green;
}

.one {
  width: 100%;
}

.turntext {
  color: grey;
  font-size: medium;
  font-weight: 600;
}

.debate {
  border: 1px solid black;
}
.no-gutters,
.no-gutters-1 {
  border-top: double;
  line-height: 4px;
}
.no-gutters-1 {
  height: 20vh;
}
.l-img {
  margin-top: 1em;
}
.l-img img {
  width: 4em;
}
.card-title {
  width: 14vw;
  font-weight: 600;
  font-size: 14px;
  line-height: 0.9em;
  margin-bottom: 1em;
}
.title-left {
  width: 10vw;
  margin-left: -0.2em;
  padding: 10px;
  font-weight: 600;
  border: 1px solid green;
  line-height: 1.2em;
  border: 1px solid red;
  background-color: salmon;
}
.r-img {
  margin-top: 1em;
  width: 100%;
  border: 1px solid green;
}
.r-img img {
  width: 4em;
}
.card-text {
  font-size: 10px;
}

.main {
  margin-top: 0%;
}

.morestory {
  margin-bottom: 1px solid grey;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sign-up {
  background-color: lightgray;
  margin: 1em 0 0 0;
  padding: 1em;
  border-radius: 10px;
}

.debate-cards {
  margin: 1em 0 0 0;
}

.card-title-debate {
  font-weight: 600;
}

.text-center-magazine {
  width: 50%;
  margin: auto;
}

.maga-heading {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.maga-text {
  font-weight: 700;
  margin-left: 1em;
  padding-top: 0.8em;
}

.container-fluid-magazine {
  border-top: 1px solid gray;
  margin-top: 0.1em;
  padding-top: 0.6em;
}
.f-n {
  display: flex;
  margin-top: 0.4em;
}
.features {
  background-color: red;
  color: #f2e8e9;
  font-weight: 700;
  padding: 0.2em;
}
.news {
  background-color: white;
  color: red;
  font-weight: 700;
  padding: 0.2em;
}

.card-title-magazine {
  font-weight: bold;
}

.red-text {
  font-family: "robot", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  color: #f72210;
}

.cardheight {
   height: 100%;
}

.bcontent {
  margin-top: 10px;
}
.card-p {
  height: 150px;
}

@media(max-width: 768px) {
  button.full-width {
      width: 100%;  
  }
  
}

/* 

@media (min-width: 768px) {
 {
    font-size: 3.5rem;
  }
} */
/* Mobile screen */
/* 
 @media only screen and (max-width: 768px) {
  .editor-section,
  .us-sec,
  .footer-top-left,
  .section-1 {
    display: flex;
    flex-direction: column;
  }

  .left-section,
  .middle-section,
  .right-section {
    width: 100%;
  }

  .sub-img {
    display: none;
  }

  .flex {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }

  .in-depth {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .subscribe-descrb {
    z-index: 5;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    text-align: center;
    width: 70%;
  }

  .indepth-imgs {
    align-self: flex-start;
    width: 30%;
  } */